body{
    
    background-color: black;
}

.container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.centro {
    justify-content: center;
    display: flex;
    
}

h1 {
    padding-inline: 50px;
    color: #ffffff;
}

a {
    text-decoration: none;
}